body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-top: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.currencyRow {
  display: flex;
  width: 13rem;
  justify-content: space-between;
  margin: 1rem;
}

.currencyRow input {
  padding: 0.5rem;
}

.equals {
  font-size: 2rem;
  font-weight: 700;
}


